<section class="section-shell">
  <div class="page-width">
    {% render 'breadcrumbs' %}
    <div class="main-page__content rte">{{ page.content }}</div>
  </div>
</section>

{% schema %}
{ "name": "Main page" }
{% endschema %}
